<%- include('../includes/head.ejs') %> 
  <body style="background-image: url('/public/shop.jpg');background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;">
    <%- include('../includes/nav.ejs') %> 
    <div class="container-fluid">
      <div style="margin-top: 3%;margin-left: 2%;">
      <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color:black;font-size: 60px;">MISSISSIPPI</h1>
    </div>
    <div style="margin-top: 1%;margin-left: 8%;">
      <h3 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color:black;font-size: 25px;">Your very own shopping cart :)</h3>
    </div>
    </div>
    <div class="bottom-container" style="text-align: center;">
      <a class="footer-link" style="color: #11999E;"   href="https://www.linkedin.com/">LinkedIn</a>
      <a class="footer-link" style="color: #11999E;" href="https://twitter.com/">Twitter</a>
      <p style="color: #EAF6F6;font-size: 15px;">© 2020 MISSISSIPPI.</p>
    </div>
    <%- include('../includes/foot.ejs') %> 
</body>
</html>